.personal-portfolio-detail-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.personal-portfolio-detail-page-personal-portfolio-detail-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(22, 19, 19, 1);
}
.personal-portfolio-detail-page-frameheadergradientscolor {
  width: 1440px;
  height: 3px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, rgba(18, 194, 233, 1) 0%, rgba(196, 113, 237, 1) 50%, rgba(235, 122, 122, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-desktop1 {
  top: -1024px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.personal-portfolio-detail-page-framesectionhero {
  width: 1440px;
  height: 600px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.personal-portfolio-detail-page-simple-shiny-light {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 600px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-group {
  top: -737.7739868164062px;
  left: -675.8360595703125px;
  width: 2558.12109375px;
  height: 1891.3692626953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-vector {
  top: 737.7739868164062px;
  left: 675.8360595703125px;
  width: 1440px;
  height: 600px;
  position: absolute;
}
.personal-portfolio-detail-page-vector1 {
  top: 0px;
  left: 0px;
  width: 1314px;
  height: 1349px;
  position: absolute;
}
.personal-portfolio-detail-page-vector2 {
  top: 868.392822265625px;
  left: 1629.322265625px;
  width: 929px;
  height: 1023px;
  position: absolute;
}
.personal-portfolio-detail-page-framedivcontainer {
  top: 0px;
  left: 224px;
  width: 992px;
  height: 600px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-text {
  top: 257px;
  left: 182px;
  color: rgba(31, 98, 174, 1);
  width: 627px;
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-framesectionsomedescription {
  width: 1440px;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-framedivcontainer1 {
  gap: 117px;
  top: 0px;
  left: 224px;
  width: 990px;
  height: 1000px;
  display: flex;
  padding: 236px 1px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.personal-portfolio-detail-page-aboutcontents {
  top: 288px;
  left: 478px;
  width: 511px;
  height: 453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-group1 {
  top: 81px;
  left: 0px;
  width: 511px;
  height: 372px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-frame3 {
  top: 244px;
  left: 0px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(30, 30, 30, 1);
}
.personal-portfolio-detail-page-text02 {
  color: rgba(178, 178, 178, 1);
  width: 491px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-frame2 {
  top: 74px;
  left: 0px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(30, 30, 30, 1);
}
.personal-portfolio-detail-page-text04 {
  color: rgba(178, 178, 178, 1);
  width: 491px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-frame1 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(30, 30, 30, 1);
}
.personal-portfolio-detail-page-text06 {
  color: rgba(178, 178, 178, 1);
  width: 491px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-text07 {
  font-weight: 400;
}
.personal-portfolio-detail-page-text09 {
  color: rgba(218, 218, 218, 1);
  width: 495px;
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-untitled1 {
  top: 405px;
  left: -58px;
  width: 290px;
  height: 274px;
  position: absolute;
  border-radius: 215px;
}
.personal-portfolio-detail-page-framesectiontechused {
  width: 1440px;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-framedivcontainer2 {
  top: 0px;
  left: 224px;
  width: 992px;
  height: 911px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.personal-portfolio-detail-page-group2 {
  top: 281px;
  left: 257px;
  width: 339px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-text11 {
  top: 23px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-image2437730f7e3a5705e205e67fa2cd10201 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 94px;
  position: absolute;
  border-radius: 254px;
}
.personal-portfolio-detail-page-group3 {
  top: 421px;
  left: 257px;
  width: 359px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-text13 {
  top: 20px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-image87484591 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 96px;
  position: absolute;
}
.personal-portfolio-detail-page-group4 {
  top: 563px;
  left: 257px;
  width: 339px;
  height: 94.24390411376953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-text15 {
  top: 18px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-images1 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 94px;
  position: absolute;
  border-radius: 600px;
}
.personal-portfolio-detail-page-group5 {
  top: 703px;
  left: 257px;
  width: 339px;
  height: 95.07691955566406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.personal-portfolio-detail-page-text20 {
  top: 19px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.personal-portfolio-detail-page-iimages1 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 95px;
  position: absolute;
  border-radius: 150px;
}
.personal-portfolio-detail-page-text22 {
  top: 164px;
  left: 353px;
  color: rgba(218, 218, 218, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
